<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>AGA Module 创建成功</title>
</head>
<body>

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 class="text-center">AGA Module 创建成功</h1>
        <blockquote>
            <p class="bg-success">
                <?= $successMsg?>
            </p>
        </blockquote>

        <div class="text-center"><a href="/agamodule">返回继续创建新模块</a></div>
    </div>
    <div class="col-md-2"></div>
</body>
</html>